a:link{
	text-decoration: none;
}

.story-form{
	width: 500px;
	margin: auto;
}

.form-icons{
	margin: 10px;
}

.coder-card{
	width: 200px;
	height: 200px;
	/*float: left;*/
	display: inline-block;
	vertical-align: top;
	margin: 1em;
	border: 1px solid  #00FF00;
	background-color: black;
	color: #00FF00;
}

