.float-left{
	float: left;
}

.float-right{
	float: right;
}

.red-text{
	color: red;
}

.content-grid{
	max-width: 960px;
}

a:link{
	text-decoration: none;
}

.star-form{
	width: 500px;
	margin: auto;
}

.form-icons{
	margin: 10px;
}