
a:link{
	text-decoration: none;
	color: #00FF00;
}

body{
	margin: 0;
}

.container{
	margin: 0 auto;
	width: 960px;
	background-color: #242a31;
	padding-top: 50px;
}

.base {
  overflow: hidden;
  /*padding-left: 64px;
  padding-right: 64px;*/
  /*width: 100%;*/
  min-height: 100%;
  background-color: #242a31;
}




