.nav{
	height: 50px;
	background-color: grey;
}

.nav-item{
	
	vertical-align: middle;
}

.nav-logo{
	display: inline-block;
	padding: 11px 0;
	color: #fff;
	font-size: 20px;
	float: left;
}

.nav-header{
	height: 40px;
	padding: 0 60px;
}

.nav-header-left{
	float: left;
	vertical-align: center;
}

.nav-header-right{
	float: right;
}

.nav-header-links{
	list-style: none;
}

.nav-header-links li{
	display: inline-block;
	margin: 10px;
}


